@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


header {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 1000;
}

header h2 {
    margin: 50px;
    font-size: 2.5em;
    color: #ff3b3b;
    font-weight: 700;
    
}


section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

section video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(50, 171, 34, 0.7), rgba(85, 66, 209, 0.7));
    mix-blend-mode: overlay;
}


.text {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    text-align: center;
    width: 70%;
}

.text p{
    font-size: 1.3em;
    line-height: 1.8;
    color: #ffffff;
    text-align: center;
    max-width: 700px;
    margin:0 auto;
    
}

/* الزر */
.start-btn {
    padding: 12px 30px;
    background-color: #ffffff;
    color: #000;
    border: none;
    border-radius: 50px;
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 30px;
}

.start-btn:hover {
    background-color: #3a6f5a;
    color: #fff;
}

/* السوشل ميديا */
.sci {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 25px;
    z-index: 20;
}

.sci li {
    list-style: none;
}

.sci li img {
    width: 45px;
    filter: invert(1);
    cursor: pointer;
    transition: 0.3s;
}

.sci li img:hover {
    transform: scale(1.1);
}
